APP_SLACK_CHANNEL=TODO
APP_SLACK_TOKEN=TODO
SPRING_PROFILES_ACTIVE=standard-message
SORTED_MARKDOWN_SECTION_1="Test message: `It's a test`"
SORTED_MARKDOWN_SECTION_2="Second test message: `It's a test`"
