SPRING_PROFILES_ACTIVE=json-logs,standard-message

APP_SLACK_CHANNEL=change
APP_SLACK_TOKEN=change

APP_SORTED_MARKDOWN_SECTION_1="Test message: `It's a test`"
APP_SORTED_MARKDOWN_SECTION_2="Second test message: `It's a test`"
